@media all and (max-width: 380px) {
  html {
    font-size: 90%;
  }
}
@media all and (max-width: 340px) {
  html {
    font-size: 80%;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 0px;
  padding-bottom: 20rem;
  background-image: url("@/assets/ui/banner_bg_dark.png?url");
  background-color: rgb(252, 252, 252);
  width: 100%;
  display: flex;
  justify-content: center;
}
.c-outer {
  max-width: 1200px;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-grow: 1;
}

.card {
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.096);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.719);
  background-color: white;
}
.card hr {
  border: none;
  border-top: 1px rgb(207, 207, 207) solid;
}
.general-input {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px rgb(190, 190, 190) solid;
  border-radius: 0.3rem;
  background-color: white;
}
.general-button {
  background-color: white;
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.general-checkbox {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.general-checkbox:checked {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'><path d='M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z'/></svg>");
  background-size: 1.2rem;
  background-position: center;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media all and (max-width: 799px) {
  .c-outer {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.popper {
  border-radius: 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.274);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.164);
  background-color: white;
  padding: 0.5rem;
}
.popper[x-placement^="top"] {
  border: 1px solid rgba(0, 0, 0, 0.274);
}
