#player {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 2rem);
  box-shadow: 0rem 0rem 0.2rem 0rem #888;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  z-index: 10;
}
.c-player {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-width: 0;
}
.c-info {
  flex-grow: 2;
  width: 30%;
  align-items: stretch;
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  min-width: 0;
}

.c-songInfo {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  min-width: 0;
}
.c-songName {
  width: 100%;
  display: flex;
  min-width: 0;
  align-items: center;
}
.songName {
  text-align: left;
  font-size: 1.2rem;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.singer {
  flex-shrink: 0;
}
.c-songStatus {
  width: 100%;
  color: #888;
  display: flex;
  justify-content: space-between;
}
.c-info-op {
  margin-left: 1rem;
  flex-shrink: 1;
  flex-grow: 0;
  flex-basis: 0px;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.c-control {
  flex-grow: 5;
  flex-shrink: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  user-select: none;
}
.c-controlButtons {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-playButtons {
  flex-grow: 1;
  max-width: 12em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.playButtons {
  border-radius: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prevButton {
  width: 2.5em;
  height: 2.5em;
}
.prevButton div {
  width: 1.2em;
  height: 1.2em;
  background-image: url("ui/prev.svg");
  background-size: contain;
}
.playButton {
  width: 3em;
  height: 3em;
}
.playButton div {
  width: 2.5em;
  height: 2.5em;
  background-size: contain;
}
.playButton-play {
  background-image: url("ui/play.svg");
}
.playButton-pause {
  background-image: url("ui/pause.svg");
}
.playButton-loading {
  background-image: url("ui/loading.svg");
  animation: loading-rotation 1.5s cubic-bezier(0.16, 0.39, 0.86, 0.62) 0s
    infinite;
}
@keyframes loading-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.nextButton {
  width: 2.5em;
  height: 2.5em;
}
.nextButton div {
  width: 1.2em;
  height: 1.2em;
  background-image: url("ui/next.svg");
  background-size: contain;
}
@media (any-hover: hover) {
  .playButtons:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.playButtons:active {
  background-color: rgba(0, 0, 0, 0.35);
}
.c-otherButtons {
  display: flex;
}
.otherButtons {
  border-radius: 2em;
  height: 2.2em;
  width: 2.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (any-hover: hover) {
  .otherButtons:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.otherButtons:active {
  background-color: rgba(0, 0, 0, 0.35);
}
.playlistButton {
  position: relative;
}
.playlistButton-img {
  width: 1.3em;
  height: 1.3em;
  background-image: url("/node_modules/bootstrap-icons/icons/music-note-list.svg?url");
  background-size: contain;
}
.playlistButton-corner {
  color: rgb(50, 50, 50);
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 0.7em;
  text-align: center;
  position: absolute;
  left: 2em;
  top: 0px;
}
.otherButtons img {
  width: 1.3em;
  height: 1.3em;
}
.c-volumeBar {
  position: absolute;
  bottom: 6rem;
  height: 7rem;
  width: 2.2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 0.2rem 0px gray;
  z-index: 100;
  display: flex;
  justify-content: center;
}
.c-volumeBarRaw {
  height: 100%;
  width: 0.6rem;
  border-radius: 1rem;
  background-color: darkgray;
  overflow: hidden;
  cursor: pointer;
}
.volumeBar-invert {
  height: 50%;
  width: 100%;
  background-color: rgb(235, 235, 235);
}

.c-progressBarText {
  display: flex;
  align-items: center;
}
.c-progressBar {
  flex-grow: 1;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  height: 1.5rem;
  position: relative;
}
.progressBar-button {
  background-image: url("ui/progress_knot.svg");
  background-size: contain;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  z-index: 30;
  cursor: pointer;
  left: calc(10% - 0.75rem);
}
.c-progressBarRaw {
  margin-top: 0.5rem;
  height: 0.5rem;
  background-color: #999;
  border-radius: 1rem;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.322);
  overflow: hidden;
  cursor: pointer;
}
.progressBar-loading {
  background-color: #fff;
  opacity: 0.15;
  height: 0.5rem;
  width: 50%;
  position: relative;
  top: -0.5rem;
  z-index: 10;
}
.progressBar-fill {
  background-color: #66ccff;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.322);
  height: 0.5rem;
  width: 10%;
  position: relative;
  z-index: 20;
}

.c-playlist {
  position: absolute;
  bottom: 6rem;
  right: 1rem;
  width: 400px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 0.2rem 0px gray;
  z-index: 100;
}
.c-playlist-title {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgb(230, 230, 230);
  display: flex;
  align-items: center;
}
.playlist-clearAll {
  flex-grow: 1;
  text-align: left;
  font-size: 1rem;
}
.playlist-clearAll span {
  cursor: pointer;
  user-select: none;
  color: rgb(187, 23, 23);
}
@media (any-hover: hover) {
  .playlist-clearAll span:hover {
    color: rgb(185, 83, 83);
  }
}
.playlist-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.1rem;
}
.playlist-close {
  flex-grow: 1;
  text-align: right;
  font-size: 1rem;
}
.playlist-close span {
  cursor: pointer;
  color: rgb(23, 146, 187);
  user-select: none;
}
.playlist-close span:hover {
  color: rgb(57, 153, 185);
}
.c-playlist-songList {
  max-height: calc(100vh - 15rem);
  min-width: 0;
  overflow-y: scroll;
  overscroll-behavior: contain;
}
.c-playlist-song {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  width: calc(100% - 1.4rem);
  text-align: left;
  cursor: pointer;
}
@media (any-hover: hover) {
  .c-playlist-song:hover {
    background-color: rgb(245, 245, 245);
  }
}
.c-playlist-playing {
  background-color: rgb(243, 243, 243);
}
.playlist-name {
  flex-shrink: 1;
  font-size: 1rem;
}
.playlist-index {
  color: rgb(105, 105, 105);
  font-size: 0.8rem;
}
.playlist-dash {
  flex-shrink: 0;
  color: #333;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.playlist-artist {
  flex-shrink: 0;
  color: #333;
  font-size: 1rem;
  margin-left: 0.3rem;
}
.playlist-status {
  flex-grow: 1;
  flex-shrink: 0;
  color: #888;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.playlist-duration {
  flex-shrink: 0;
  color: #333;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
.playlist-clear {
  flex-shrink: 0;
  margin-left: 0.25rem;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
@media (any-hover: hover) {
  .playlist-clear:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.playlist-clear:active {
  background-color: rgba(0, 0, 0, 0.35);
}
.playlist-clear-img {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/node_modules/bootstrap-icons/icons/x.svg?url");
  background-position: center;
  background-size: contain;
}
.playlist-empty {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

@media all and (max-width: 799px) {
  .c-info {
    width: 100%;
    margin-bottom: 0.3rem;
  }
  .c-progressBar {
    margin-left: 5%;
    margin-right: 5%;
  }
  .c-controlButtons {
    font-size: 1.2rem;
  }
  .c-volumeBarRaw {
    width: 1.3rem;
    border-radius: 0.3rem;
  }
  .c-playlist {
    bottom: 13rem;
    width: calc(100vw - 2rem);
  }
  .c-playlist-songList {
    max-height: calc(100vh - 23rem);
  }
}
