.c-title {
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(255, 255, 255);
  border: 0px;
}
.title-info {
  flex-grow: 0;
  padding: 1.5rem;
  z-index: 3;
}
.title-info h1 {
  margin-bottom: 1rem;
  text-align: right;
  font-size: 4rem;
}
.title-detail {
  text-align: right;
}
.title-detail div {
  margin-bottom: 0.2rem;
  font-size: 1rem;
}
.title-detail a {
  color: white;
}
.banner-video {
  position: absolute;
  width: 100%;
  height: fit-content;
  background-color: #000;
  overflow: hidden;
  z-index: 1;
  transform: translate(0, -30%);
  top: 30%;
}
.banner-video video {
  width: 100%;
  height: auto;
}

.banner-logo {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 2;
  height: 10rem;
  width: 10rem;
  background-image: url("@/assets/banner-logo.svg");
  background-repeat: no-repeat;
}
@media all and (max-width: 799px) {
  .title-info {
    padding: 0.2rem;
    padding-right: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.618);
  }
  .title-info h1 {
    font-size: 2.5rem;
  }
  .title-detail a {
    color: black;
  }
  .c-title {
    color: rgb(24, 24, 24);
  }
  .banner-logo {
    left: 0rem;
    top: 0rem;
    height: 12rem;
    width: 12rem;
  }
}
