.c-copy-code {
  margin-top: 1rem;
  display: inline-block;
}

.copy-item {
  margin-bottom: 0.5rem;
}

.copy-button {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  font-size: 0.9rem;
}
