.c-footer {
  font-size: 0.9rem;
  margin-top: 3rem;
}
hr {
  border: none;
  border-top: 1px rgb(207, 207, 207) solid;
}
.links a {
  margin-right: 1rem;
}
.credit {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}
