.c-outer {
  padding: 0.5rem;
  width: calc(100% - 1rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.title {
  margin: 0.5rem;
  font-size: 1.3rem;
}
.c-song-collection {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.collection-item {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  margin-right: 1rem;
  border-bottom: 1px rgb(190, 190, 190) solid;
  color: #2a2d30;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}
.collection-icon {
  width: 1.3em;
  height: 1.3em;
  background-image: url("/node_modules/bootstrap-icons/icons/tag.svg");
  background-size: contain;
}

@media (any-hover: hover) {
  .collection-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
.collection-item:active {
  background-color: rgba(0, 0, 0, 0.1);
}
.collection-item div {
  margin-left: 0.3rem;
}

.title-filter {
  display: flex;
  align-items: flex-end;
}
.title-filter-expand {
  font-size: 0.9rem;
  color: blueviolet;
  margin-left: 1rem;
  user-select: none;
  cursor: pointer;
}
.c-filter {
  display: flex;
  flex-wrap: wrap;
}
.filter-item {
  flex-grow: 1;
  margin: 0.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
.filter-item-label {
  margin-right: 0.5rem;
}
#filter-checkbox-treated {
  margin-right: 0.5rem;
}
.filter-item-treated {
  margin-right: 0rem;
}
.filter-item-question {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23333' viewBox='0 0 16 16'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z'/></svg>");
  background-position: center;
  background-size: contain;
  height: 0.9rem;
  width: 0.9rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  cursor: pointer;
}

.filter-song-search {
  display: flex;
  align-items: stretch;
}
.filter-song-search-select {
  flex-grow: 0;
  flex-shrink: 1;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}
.filter-song-search-input {
  flex-shrink: 1;
  width: 0rem;
  min-width: 3rem;
  border-radius: 0rem;
  border-right: none;
}
.filter-song-search-button {
  flex-grow: 0;
  flex-shrink: 0;
}
.filter-song-search-go {
  border-radius: 0rem;
  border: 1px solid #007bff;
  color: #007bff;
}
@media (any-hover: hover) {
  .filter-song-search-go:hover {
    background-color: #007bff;
    color: white;
  }
}
.filter-song-search-go:active {
  background-color: #0068d6;
  color: white;
}
.filter-song-search-clear {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #6c757d;
  color: #6c757d;
  border-left: none;
}
@media (any-hover: hover) {
  .filter-song-search-clear:hover {
    background-color: #6c757d;
    color: white;
  }
}
.filter-song-search-clear:active {
  background-color: #545b61;
  color: white;
}
